@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: "Philosopher", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-style-normal: normal;
  --font-style-italic: italic;
}
